#gmt-section {
  color: white;
  text-align: left;
  .property {
    font-weight: 800;
    font-size: 1.5rem;
  }
  .wrapper-item {
      margin: 1.4rem 0;
    .label {
      color: $grey-color;
    }
    .content {
      font-size: 2rem;
      font-weight: 800;
      margin: 0;
      padding: 0;
    }
  }
  .smaller{
      margin: 0;
      .content{
          font-size: 1.2rem;
          font-weight: 500;
      }
  }
  .middle-item{
      border: 3px solid $blue-base-btn;
      border-top: none;
      border-bottom: none;
  }


  .under{
      margin-top: 2rem;
  }
}
